.btn {
    margin-bottom: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid $border_color;
    border-radius: 5px;
    height: 60px;
    width: 60px;

    #blueLeft, #blueRight {
        display: none;
    }
    #grayLeft, #grayRight {
        display: inline-block;
    }


    &:disabled {
        cursor: not-allowed;
    }

    &:hover,
    &:focus {
        #grayLeft, #grayRight {
            display: none;
        }
        #blueLeft, #blueRight {
            display: inline-block;
            transition: .3s linear;
        }
        border: 1px solid $primary_color;
        transition: .3s linear;
    }
}