@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Helvetica', 'Arial', sans-serif;
  width: 50%;
  margin: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

body header .columns .col-1 {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  border-radius: 0px 0px 5px 5px;
  background-color: #DDD;
  margin-right: 19px;
}

body header .columns .col-2 {
  -ms-flex-preferred-size: 66.66%;
      flex-basis: 66.66%;
  border-radius: 0px 0px 5px 5px;
  background-color: #DDD;
}

body header .columns .col-2 span {
  display: inline-block;
  vertical-align: middle;
  padding: 40px 0;
  margin-left: 80px;
}

body main {
  margin: auto 0;
}

body main .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main .columns .slider-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66%;
          flex: 0 0 66.66%;
}

body main .columns .slider-container .top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px;
  margin-left: 160px;
}

body main .columns .slider-container .top-row .img-slide {
  width: auto;
  height: 200px;
  margin: 0 4.5px;
  border-radius: 5px;
}

body main .columns .slider-container .bottom-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main .columns .slider-container .bottom-space .bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px;
}

body main .columns .slider-container .bottom-space .bottom-row .img-slide {
  width: auto;
  height: 200px;
  margin: 0 4.5px;
  border-radius: 5px;
}

body main .columns .slider-container .bottom-space .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 90px;
}

body main .columns .info-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
}

body main .columns .info-container h1 {
  color: #134880;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

body main .columns .info-container p {
  color: #47494C;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

body footer {
  width: 100%;
  margin-top: auto;
  background-color: #DDD;
  border-radius: 5px 5px 0px 0px;
}

body footer span {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  padding: 40px 0;
  margin-left: 80px;
}

.btn {
  cursor: pointer;
  background: transparent;
  border: 1px solid #134880;
  border-radius: 5px;
  margin: 5px 0;
  height: 60px;
  width: 60px;
}

.btn:disabled {
  cursor: not-allowed;
  background: transparent;
  border: 1px solid #DDD;
  border-radius: 5px;
  margin: 5px 0;
  height: 60px;
  width: 60px;
}
/*# sourceMappingURL=style.css.map */